## Week 01 : 변수, 데이터 타입, For문

**⁕ Jupyter Lab 셀 실행법**
- Ctrl + Enter : 셀 실행
- Shift + Enter : 셀 실행 후 다음 셀로 이동 (만약에 셀이 없다면 새 셀 생성)
- ALt + Enter : 셀 실행 후 새 셀 생성
  
**⁕ Jupyter Lab 주요 단축키**
- A : 새 셀 생성
- X : 셀 오려두기
- C : 셀 복사하기
- V : 셀 붙여넣기
- D,D : 셀 삭제하기
- Z : 실행 취소
- Shift + Z : 실행 재취소
  
**⁕ Python & Jupyter Lab 사용 시 유의사항**
- Anaconda Prompt 위에 Jupyter Lab Browser를 띄우는 겁니다. (브라우저 창 떴다고 Prompt창 닫으면 안 됨)
- Jupyter Lab에서 폴더 및 파일을 생성/삭제하면 도스 상에서의 작업과 같아서 곧바로 변경이 적용되고 휴지통 안 거치고 삭제됩니다. 주의해주세요!
- Jupyter의 장점이자 단점인데, 셀을 실행하지 않으면 셀 안에 들어있는 코드가 아무 의미가 없습니다! 단순한 코드 오류의 경우 셀 실행 순서에 따른 문제일 수 있으니 헷갈리면 위에서부터 셀을 쭉 다시 실행하는 것을 권장합니다
- 가끔 실수로 셀 바깥쪽 클릭하고 알파벳 M을 누르면 마크다운(Markdown) 노트 작성 기능으로 바뀝니다. Y를 누르셔야 일반적인 코드로 돌아옵니다.
- 셀을 실행했을 때, 기본적으로는 마지막 줄에 있는 object값을 print해줍니다. 만약 중간중간 값을 확인하고 싶으시다면 하나하나 print()를 적용해줘야 합니다.

#### 1. 기초 연산

In [1]:
a = 7
b = 3
c = 5.5

print(a + b) #add
print(a - b) #subtract
print(a * b) #multiply
print(a / b) #divide
print(a // b) #quotient(몫)
print(a % b) #remainder(나머지)
print(a ** b) #power(N제곱/N승)
print(a/b/c)
print(a/(b/c))

10
4
21
2.3333333333333335
2
1
343
0.42424242424242425
12.833333333333334

#### 2. 데이터 타입
- int : integer, 정수
- float : 실수(소수점을 포함한 수)
- str : string, 글자
- bool : True/False

In [2]:
a = 3
b = '3'
c = False

In [3]:
print(a, b, c)
print(type(a), type(b), type(c))

3 3 False
<class 'int'> <class 'str'> <class 'bool'>

In [4]:
print(type(a))
a = float(a)
print(a)
print(type(a))

<class 'int'>
3.0
<class 'float'>

In [5]:
print(type(c))
c2 = int(c)
print(c2)
print(type(c2))

<class 'bool'>
0
<class 'int'>

In [6]:
print(3==7)
print(4!=5)
print(2.5!=2.5)

trueorfalse = 4!=5
print(trueorfalse)
print(type(trueorfalse))

False
True
False
True
<class 'bool'>

#### 3. 리스트 []
- 여러 값들을 저장해서 사용할 때 사용
- 리스트 안에는 모든 값이 들어갈 수 있음 (리스트 안에 리스트를 넣는 것 역시 가능)
- 리스트의 맨 뒤에 직접 값을 추가할 때에는 *name_of_list.append(value)* 와 같은 식으로 사용
- 리스트 안에서 값을 순서대로 선택할 때에는 대괄호 인덱싱(indexing)을 활용 (0부터 시작함에 유의)

In [7]:
x = [0, '3', 'a', [], [2,'hello', 'mbc'], 123]
len(x)

6

In [8]:
x[4][2]

'mbc'

In [9]:
x[-2][-1]

'mbc'

In [10]:
x[-1]

123

#### 4. 딕셔너리 {}
- 우리가 쓰는 엑셀(CSV, XLSX) 파일의 원형(?)이라고 이해하면 편함
- {key:value, key:value, ...}와 같은 형식으로 구성됨
- 인덱싱(indexing)의 경우 리스트처럼 N번째 숫자를 받는 대신 key값을 받음
- 리스트처럼 value값에는 어떤 값이든 들어갈 수 있음

In [11]:
schoolinfo = {'name':'TaeYoungKang', 'gpa':3.7, 'major':['sociology', 'poli-sci']}

In [12]:
schoolinfo['gpa']

3.7

In [13]:
len(schoolinfo['major'])

2

#### 4. For문 사용법
- 문법은 "For 하나하나 in 덩어리 : (들여쓰기) 하나하나에 대해 실해할 내용"의 형태를 가짐
- 일반적으로 반복 노동을 자동화하는 용도로 사용
- 일반적인 변수들과 마찬가지로 저 '하나하나' 변수 역시 이름을 마음대로 지어서 활용하면 됨
- 당연한 이야기지만, for문 안에 넣은 코드에 대해서만 for loop이 작동함. 즉, 처음에 for문 연습할 때에는 특정 코드를 for문 안에 넣냐 밖에 넣냐에 따라 왜 결과가 다르게 나타나는지 이해하는 것이 핵심
- range()함수를 효과적으로 사용할 수 있음
    - range(N) : 0 이상 N미만까지의 연속되는 수
    - range(M, N) : M 이상 N미만까지의 연속되는 수

In [14]:
x = [1, 10, 235]
doubled_x = []

for i in x :
    doubled_x.append(i*2)
    
print(doubled_x)

[2, 20, 470]

In [15]:
x = [1, 10, 235]

for i in x :
    doubled_x = []
    doubled_x.append(i*2)
    
print(doubled_x)

[470]

In [16]:
# for statement
for i in range(1,6) :
    print("o"*i)

o
oo
ooo
oooo
ooooo

In [17]:
for i in range(1,6) :
    print('o'*(6-i))

ooooo
oooo
ooo
oo
o

In [18]:
for i in range(1,6) :
    print(' '*(i-1), 'o'*(6-i))

 ooooo
  oooo
   ooo
    oo
     o

In [19]:
for i in range(1,6) :
    print(' '*(6-i), 'o'*i)

      o
     oo
    ooo
   oooo
  ooooo