Ctrl + Enter : 자기 셀 돌리기  
Shift + Enter : 자기 셀 돌린 후 다음 셀로 넘어가기  
Alt + Enter : 자기 셀 돌린 후 아래에 새 셀 생성

In [2]:
3 + 4 # 덧셈
3 - 4 # 뺄셈
3 **4 # 제곱은 별 두 개

81

In [7]:
# BMI : m로 된 키 X 몸무게 X 0.4
x = 171
y = 56
bmi = (x/100)*y*.4

In [ ]:
x 및 y랑 bmi랑 뭐가 다른가요?

In [20]:
company_name = 'mbc'
type(company_name) #str(string) : 글자

str

In [31]:
abc = 100

In [35]:
string_three = '3'
int(string_three)*100

300

In [46]:
x = 3
y = 7

x!=y

True

In [50]:
yes = True
int(yes)

1

In [62]:
numbers = [3,6,1,6]
other_numbers = [2,4,12,5]

In [81]:
all_numbers = numbers + other_numbers
all_numbers

[3, 6, 1, 6, 2, 4, 12, 5]

In [86]:
x_list = ['3', 'a', 10, True, 'MBC', all_numbers, 0]

In [98]:
[] #list : 제일 많이 씀. 여러 값 넣는 기본꼴.
{} #dictionary : 이제 설명해드릴게요
() #tuple (신경 안 써도 됨)

()

In [101]:
profile = {'name':'TaeYoungKang',
           'height':1.71,
           'weight':56}
profile2 = {'name':'AAAAAA',
            'height':1.81,
            'weight':76}

In [118]:
for 앞에서부터 하나하나 in 덩어리 :
    작업내용

[6, 8, 10, 12]

In [122]:
sample = [1,2,3]
sample.append(4)

In [127]:
doubled_x = []
x = [3,4,5,6]

for val in x :
    doubled_x = []
    doubled_x.append(val*2)
    
doubled_x

[12]

In [134]:
x = [3,4,5,6]
doubled_x = []
for val in x :
    
    doubled_x.append(val*2)
    
doubled_x

[6, 8, 10, 12]

In [149]:
for num in range(1,5) :
    print(' '*(4-num)+'0'*num)

   0
  00
 000
0000