**셀 사용법**  
- Ctrl + Enter : 셀 실행  
- Shift + Enter : 셀 실행 후 다음 셀로 이동  
- Alt + Enter : 셀 실행 후 새 셀 다음에 생성

In [25]:
3 + 7 #덧셈
3 - 7 #뺄셈
3 * 7 #곱셈
3 / 7 #나눗셈

0.42857142857142855

In [47]:
cost = 100
revenue = 3000

profit = revenue - cost
weird_num = 171.2/0.4

**데이터 타입**
- 정수(integer) : int
- 실수(float) : 소수가 달려있는 숫자
- 글자(string) : str
- bool : True / False

In [62]:
profit02 = profit*1.1
profit02

3190.0000000000005

In [77]:
company_name = 'mbc'
location_name = 'digital media city'
y = '!!!!!'
sentence = company_name + location_name + y

In [86]:
korea = '13124gddsfsdf'
sentence + korea

'mbcdigital media city!!!!!13124gddsfsdf'

In [138]:
b = {'birth':1995,
     'name':'taeyoung',
     'height':171}
c = {'birth':1994, 'name':'IU', 'height':158}

profile_list = [b, c]

In [163]:
x = [1, 3, 5, 8, 9]

for i in x :
    doubled_x = []
    doubled_x.append(i*2)
    
doubled_x

[18]

In [174]:
for a in range(1,6) :
    print(' '*(5-a)+'O'*a)

    O
   OO
  OOO
 OOOO
OOOOO