## Week 02 : if문, 이중for문, 함수, map, lambda

**if, elif, else 구문 사용법**
- 문법 구조 - if 특정 조건 : A, elif 특정 조건 : B, 나머지(else) : C
- if문은 맨 위에서부터 작동함에 유의. 즉 첫 구절인 if문에서 해당 코드가 적용 불가능하면 error가 발생할 수 있음

In [14]:
y = True

if type(y)==str :
    print('IT IS NOT A NUMBER')
elif y<=3 :
    print('smaller or equal to 3')
else :
    print('larger than 3')

smaller or equal to 3

**주어진 list를 두 배 해주는 방법을 복습해보자면...**
- 빈 리스트 생성
- for문을 돌며 주어진 list 각각의 element에 2를 곱해줌
- append 메소드를 활용해 빈 리스트에 삽입

In [17]:
x = [1, 10, 235]
doubled_x = []

for each in x :
    doubled_x.append(each*2)
    
print(doubled_x)

[2, 20, 470]

**홀수면 2배를 해주고 짝수면 3배를 해주며, list가 들어오면 통째로 10배를 해주는 코드**
- 첫 번째, list의 경우 2배나 3배 연산이 되지 않으니 맨 위 if문에서 이를 처리해주는 코드를 작성해야 함.
- 두 번째, 단순히 list에 10을 곱하면, 해당 list의 값을 10번 반복한 새 list가 만들어짐. 이에 빈 list를 한 번 더 만들어서, 각각에 10을 곱해주는 작업을 해주어야 함. 그 과정에서 for문을 한 번 더 사용해야 함.
- 세 번째, elif와 else에서는 홀수/짝수 여부만에 대해 처리해주면 끝.

In [50]:
x = [1, [3,2,1,5,7], 7, 10, 26, [78], 235]
new_x = []

for each in x :
    if type(each)==list : #리스트일 때
        temp = []
        for j in each :
            temp.append(j*10)
        val = temp
    elif each%2==1 : #홀수일 때
        val = each*2
    else :
        val = each*3
    new_x.append(val)
        
new_x

[2, [30, 20, 10, 50, 70], 14, 30, 78, [780], 470]

**함수 생성**
- 문제는 이런 '두 배로 리스트 만들어주기' 같은 작업을 여러 리스트에 대해 시행하고 싶을 수 있음. 그 경우 가장 단순한 방식은 아래처럼, 매번 새로 코드를 작성하는 것이겠으나.. 이러한 작업을 한 번 더 자동화하기 위해 '함수' 개념이 필요함
- 문법 구조 - def 함수이름(삽입값을 불러줄 이름) : 함수내용 return 뱉을출력값
- 항상 마지막에는 return을 해줘야 값이 출력/저장됨.

In [53]:
x = [1, 10, 235]
doubled_x = []
for each in x :
    doubled_x.append(each*2)
    
y = [32,2,4,23523]
doubled_y = []
for each in y :
    doubled_y.append(each*2)

a = [1324235235,45]
doubled_a = []
for each in a :
    doubled_a.append(each*2)

In [2]:
def doubler(given_list) :
    doubled_list = []
    for each in given_list :
        doubled_list.append(each*2)
    return doubled_list

In [3]:
def calculator(val) :
    return (val+10)*3

In [4]:
doubler([2,10,17])

[4, 20, 34]

In [5]:
calculator(300)

930

**map**
- 여러 element에 특정 함수를 반복해서 적용해주고 싶을 때 map을 사용할 수 있음
- map이 받는 값은 두 가지임
- 문법 구조 - map(각각에적용할함수, 그대상이되는덩어리)

In [73]:
x = [1,3,5]
new_x = list(map(calculator, x))

new_x

[33, 39, 45]

In [74]:
new_x = list(map(str, x))
new_x

['1', '3', '5']

**익명 함수 lambda**
- 한 번 쓰고 말 일회용(?) 함수를 위해 매번 def로 이름 붙여주는 건 정말 귀찮은 일
- lambda를 활용한다면 이러한 문제를 해결 가능
- 문법 구조 - lambda 입력값이름 : 입력값에취해줄조치후출력값

In [76]:
(lambda x : x*3+3)(50)

153

In [79]:
x = [1,3,5]

list(map(lambda val : val*10-9, x))

[1, 21, 41]

- 예제) 어떤 값이 들어왔을 때 10을 곱한 후 9를 빼주는 mbc라는 이름의 함수를 만드시오. 그 후 [1,10,50]이라는 리스트의 값 각각에 대해 mbc함수를 적용하시오
- ex) mbc(7) -> 61

In [87]:
example = [1, 10, 50]

In [88]:
def mbc(x) :
    return x*10 - 9

new_ex = []
for i in example :
    new_ex.append(mbc(i))
new_ex

[1, 91, 491]

In [95]:
new_ex = list(map(mbc, example))
new_ex

[1, 91, 491]

In [96]:
new_ex = list(map(lambda something : something*10 - 9, example))
new_ex

[1, 91, 491]

In [97]:
new_ex = list(map(str, example))
new_ex

['1', '10', '50']

**list comprehension : for문을 한 줄로 쓰기**

In [5]:
b = [3, 5, 7, 10]

In [6]:
new_b = []
for val in b :
    new_b.append(val*10)

new_b

[30, 50, 70, 100]

In [7]:
new_b = [val*10 for val in b]
new_b

[30, 50, 70, 100]

In [8]:
[val*10 for val in b if val%2==0]

[100]

In [25]:
from time import sleep
from tqdm import tqdm

In [26]:
for i in tqdm(range(100)) :
    sleep(.05)
    i*3

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:06<00:00, 16.12it/s]

In [ ]:
output = []
for each_url in tqdm(url_list) :
    time.sleep(2)
    output.append(scraper(each_url))

**주어진 숫자가 대칭인지 판별하는 함수를 만드시오**
- 3 → True
- 131 → True
- 27872 → True
- -35 → False
- 700 → False
- 93 → False

In [67]:
x = 1311
x_str = str(x)
output_list = []
for index in range(len(x_str)) :
    if x_str[index]==x_str[-(index+1)] :
        print(True)
    else :
        print(False)

True
False
False
True

In [70]:
def str_palindrome_detector(x) :
    x_str = str(x)
    output_list = []
    for index in range(len(x_str)) :
        if x_str[index]==x_str[-(index+1)] :
            output_list.append(1)            
    if len(output_list)==len(x_str) :
        output = True
    else :
        output = False
        
    return output

In [83]:
def str_palindrome_detector(x) :
    x_str = str(x)
    b = 0
    
    for index in range(len(x_str)) :
        if x_str[index]==x_str[-(index+1)] :
            b += 1
    
    if b==len(x_str) :
        output = True
    else :
        output = False
    
    return output

In [84]:
str_palindrome_detector(1332)

False

In [94]:
def lenDigits(x): 
    if x < 10:
        return 1
    else :
        return 1 + lenDigits(x / 10)

In [95]:
def lenDigits(x): 
    if x < 10:
        return 1
    return 1 + lenDigits(x / 10)

In [93]:
lenDigits(300000)==len('300000')

True

In [97]:
x = 3

if type(x)==str :
    print('It is String')